body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
    color: #333;
    margin: 0;
    padding: 0;
}

#grid-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    box-shadow: 0px 8px 20px #0000002d;
    background-color: #fefefe;
}

.square-container {
    display: flex;
    flex: auto;
}

.square {
    display: flex;
    flex: auto;
}